.button:hover{
    background-color: #0d6efd !important;
    color: white !important;
    border-color: #0d6efd !important;
}

.ani{
  animation: blink 3s ease-in-out infinite;
}

@keyframes blink {
    0%{
    opacity: 0;
   }

   100%{
    opacity: 1;
   }
  

}